<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>New Web Project</title>

    <!-- External Style Sheet -->
    <link rel="stylesheet" type="text/css" href="estilos/estilos.css" />

    <!-- Embedded Style Sheet -->
    <style type="text/css">

    </style>

    <!-- External Scripts -->
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>

    <!-- Embedded Scripts -->
    <script type="text/javascript">

    </script>

</head>

<body>

    <h1>San Joaquin Valley Town Hall</h1>
    <h2 class="first_h2">Welcome to San Joaquin Valley Town Hall</h2>
    <p>Please enter your email address to subscribe to our newsletter.</p>
    <form id="email_form" name="email_form" action="join.html" method="get">
        <label for="email">E-Mail: </label>
        <input type="text" style="width: 100px; height: 100px" id="email" name="email"    title="Enter e-mail address here." />
        <input type="button" value="Subscribe" />
    </form>

</body>

</html>
