<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>New Web Project</title>

    <!-- External Style Sheet -->
    <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <!-- Embedded Style Sheet -->
    <style type="text/css">

    </style>

    <!-- External Scripts -->
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <!-- Embedded Scripts -->
    <script type="text/javascript">

    </script>

</head>

<body>
    <h1>New Web Project Page</h1>
</body>

</html>
